CryptocurrencyAdressGenerator/.vs/CryptocurrencyAdressGenerator/v16/Server/sqlite3/db.lock
CryptocurrencyAdressGenerator/.vs/CryptocurrencyAdressGenerator/v16/Server/sqlite3/storage.ide
CryptocurrencyAdressGenerator/.vs/CryptocurrencyAdressGenerator/DesignTimeBuild/.dtbcache
CryptocurrencyAdressGenerator/.vs/CryptocurrencyAdressGenerator/v16/TestStore/1/000-0000.testlog
CryptocurrencyAdressGenerator/.vs/CryptocurrencyAdressGenerator/v16/TestStore/1/testlog.manifest
